body {
	margin: 0;
}
#maincontainer {
	position: relative;
 	margin: 1% auto 1% auto;
	height: 95%;
	width: 400px;
	background-color: #F5F2DC;
}
#box1 {
	padding: 10px 0 0 10px;
	color: #FFF;
	position: absolute;
	width: 380px;
	margin: 5px;
	background-color: #4C6166;

}
#box2 {
	float: left;
	position: absolute;
	width: 390px;
	margin: 0 auto;
	background-color: #4C6166;
	bottom: 5px;
	left: 5px;
}
#textfield {
	height: 30px;
}
#send {
	right: 5px;
}
